@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">DEV - Pagina principal</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
=======
    <h1 class="display-4">DEV2 - Inicio del sistema</h1>
    <p>Este cambio pertenece a la rama DEV2</p>
>>>>>>> dev2
</div>
